body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}
.nav-link{
  display: flex;
  margin: 10px;
}
.nav-link li{
  margin: 10px;
  list-style: none;
}
.nav-link li a{
  text-decoration: none;
  color: white;
}
.nav-link li a:hover{
  color: black;
  background: white;
  transition: 0.2s;
  border-radius: 5px;
}
.nav-link li a:active{
  color: white;
}

.main img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 50px red;
}

.main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 10%;
  text-align: center;
  flex-wrap: wrap;
  height: 100vh;
}
.mainp{
  font-size: x-small;
  color: red;
  border: 1px solid red;
  border-radius: 10px;
}

.modal { 
  display: none; 
  position: fixed; 
  inset: 0; 
  background: rgba(0,0,0,0.8); 
  justify-content: center; 
  align-items: center; 
}

.modal-content { 
  background: red; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 0 30px white; 
  color: white;
}

.close { 
  float: right; 
  cursor: pointer; 
  color: white; 
}

span{
  color: red;
}
.About{
  align-items: center;
  text-align: center;
  background-color: red;
  padding: 20px;
  margin: 20px 0;
}
.about1 p{
  color: white;
}

.service-container{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 20px;
}
.service-box{
  width: 225px;
  height: 225px;
  background: RED;
  border-radius: 20px;
  border: 2px solid red;
  transition: 0.3s;
}
.service{
  text-align: center;
  padding: 20px;
}
.service-box:hover{
  background-color: white;
}

.contact{
  border: 4px solid red;
  padding-top: 100px;
  text-align: center;
}
input { 
  display: block; 
  width: 80%; 
  margin: 10px auto; 
  padding: 10px; 
  border: none; 
  border-radius: 5px; 
  border: 2px solid red;
}

textarea {
  display: block; 
  width: 80%; 
  margin: 10px auto; 
  padding: 10px; 
  border: none; 
  border-radius: 5px;
  border: 2px solid red;
}

button {
    display: block; 
  width: 80%; 
  margin: 10px auto; 
  padding: 10px; 
  border: none; 
  border-radius: 5px;
  transition: 0.4s;
}


button { 
  background: red;
  color: white;
  cursor: pointer;
}

button:hover { 
  background: black;
}

footer{
  text-align: center;
  background-color: red;
  padding: 10px 0;
  width: 100%;
}

.footer1{
  color: white;
}
section{
  min-height: 100vh;
}



